.wraper {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(255, 190, 71);
}
.title {
  font-size: 2em;
  color: rgb(151, 151, 151);
}
.delete-btn {
  background-image: url(./img/icon-cancel.png);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
}
.input-container {
  text-align: left;
}
.task-field {
  margin-right: 10%;
  margin-bottom: 10px;
  border: 1px solid gray;
  width: 500px;
  background-color: rgb(254, 255, 205);
}
.delete-btn {
  margin-right: 42%;
  margin-top: 2px;
  border-radius: 20px;
}
.delete-btn:hover {
  background-color: red;
}
.text-container {
  margin-left: 20px;
  color: rgb(107, 107, 107);
  width: 10%;
  font-style: italic;
  font-size: 23px;
}
.decor-span {
  text-decoration: line-through;
}
.input-text {
  width: 30em;
  height: 3em;
  border-radius: 10px;
}
.input-text::-moz-placeholder {
  text-align: center;
}
.add-btn {
  margin-right: 10em;
}
.btn-container {
  margin-top: 1.5em;
}
.form-container {
  padding-bottom: 5px;
}
.clear-btn {
  width: 80px;
  height: 30px;
  font-size: 17px;
}
.add-btn {
  width: 80px;
  height: 30px;
  font-size: 17px;
}
.item-container {
  margin-top: 40px;
}
